.menu{
    background: #D5B0AC;
    font-weight: bold;
    color: #402E2A;
    text-align: center;
    line-height: 30px;
    
}

.menu > span{  
    display: inline-block;
    width: 100px;
    height: 30px;
}
span:hover{
 color: #FFFFFF;
 background-color: #9CD08F;
 cursor: pointer;
}
.part2{
    background: #D5B0AC;
    font-weight: bold;
    color: #402E2A;
    line-height: 30px;
    text-align: center;
    width: 102px;
}
.part2 > span{
    border: 1px solid #FFFFFF;
    display: block;
    width: 100px;
    height: 30px;
}
